---
import { t } from 'i18next'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Alpha">
	<main>
		<h1>{ t('test') }: Alpha</h1>
		<p>this is a sample blog post</p>
	</main>
</Layout>
