---
import { t } from 'i18next'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>{ t('test') }</h1>
		<div><a href="/blog/alpha">Alpha Blog Post</a></div>
		<div><a href="/blog/beta">Beta Blog Post</a></div>
		<div><a href="/blog/gamma">Gamma Blog Post</a></div>
	</main>
</Layout>
